# exclude everything
*

# Except following data files
!/temp_1_options.gms
!/temp_4d_postProcess_invest2schedule.gms
!/temp_4d_postProcess_newResultsTable.gms
!/temp_additionalSetsAndParameters.inc
!/temp_additionalResultSymbols.inc
!/temp_buildingInit.gms
!/temp_changes_modifyingInputData.inc
!/temp_changes_readSecondInputFile.inc
!/temp_changes_loop.inc
!/temp_investInit.gms
!/temp_modelsInit.gms
!/temp_scheduleInit.gms
!/temp_timeAndSamples.inc