# GAMS specific
*.gpr
*.lst
*.lxi
*.~gm
*.~*
*.put
*.log
*.gchf

# Backbone
version_git

# Data files
*.dat
*.gdx
*.xlsx

# Other files
*.pptx
*.docx
*.pdf
*.par
*.txt
*.zip

# All folder except
*/
!*/.spinetoolbox/
!*/defModels/
!*/defOutput/
!*/hooks/
!*/inc/
!*/input/
!*/mods/
!*/tools/
