# GAMS specific
*.gpr
*.lst
*.lxi
*.~gm
*.~*
225?/
*.put
*.log

# Backbone
Backbone.txt
input/
output/
EnsemblesAndYears.xlsx
Backbone.dat
diffile.gdx
defModels/schedule.gms
defModels/storage.gms
defModels/building.gms
EfficiencyPiecewise.xlsx
/version

# Data files
*.gdx
*.xlsx

# Other files
*.pptx
*.docx
*.pdf
*.par
to_UCD/
*.zip
